body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  background: #111;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 200px;
}

.card {
  width: 350px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-inner.flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: linear-gradient(135deg, #f3a4e6, #444);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(218, 126, 202, 0.219);
}

.card-front .chip {
  width: 50px;
  height: 35px;
  background: #d8b38c;
  border-radius: 6px;
  margin-bottom: 10px;
}

.card-front .bank-name {
  position: absolute;
  top: 10px;
  right: 15px;
  font-weight: bold;
}

.card-front .logo {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: orange;
  font-weight: bold;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cvv-box {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
